@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ===================== */
* {
  font-family: 'Barlow', sans-serif;
}
html {
  scroll-behavior: smooth;
}
select option {
  padding: 50px;
}
/* Modal Custom Settings */
.vm--modal {
  border-radius: 15px;
}

.vm--overlay {
  background: rgba(51, 31, 40, 0.7) !important;
}
/* Multiselect Custom Settings */
.multiselect__tag {
  background: #EB145F;
}

.multiselect__tag-icon:hover {
  background: #EB145F;
}

.multiselect__tag-icon::after {
  color: white;
}

.multiselect__option:hover {
  background: #EB145F;
}
/* Carousel Custom Settings */
.VueCarousel-navigation-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 12px !important;
  font-size: 45px;
}

.VueCarousel-navigation-button:hover {
  background-color: white;
  opacity: 100%;
  border: 2px solid lightgray;
}

.VueCarousel-navigation-next {
  padding-left: 2px !important;
  margin-right: 75px !important;
}

.VueCarousel-navigation-prev {
  padding-right: 2px !important;
  margin-left: 75px !important;
}